@charset "utf-8";
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
body {
  font-family: arial, helvetica, sans-serif;
}
html {
  font-size: 0.7rem;
}
.news_category {
  z-index: -100;
}
.loadMore {
  text-align: center;
  font-size: 0.65rem;
  padding: 0.2rem 0;
  margin-bottom: 0.125rem;
}
.loadMoreHide {
  display: none;
}
#loading{
  width:100%;
  height:100%;
  background: #fff url(../images/loading.jpg) no-repeat center;
  text-align: center;
  position:absolute;
  left:0;
  top:0;
  z-index:99999;
  display:none;
}
